  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Free garden walkthrough for first-time customers. Call for an estimate.</h2>
              <!-- <a class="btn btn-default btn-xl wow tada">250 493 3362</a> -->
              <a href="#contact" class="btn btn-default btn-xl wow tada">Contact info below</a>
          </div>
      </div>
  </aside>
