<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">her·bar·i·a: noun; plural of herbarium (a collection of plant specimens) .</h2>
                <p class="text faded"> Herbarium, from Latin herbarius, one skilled in herbs, from Latin herba, herb, vegetation.</p>
                <hr class="light">
                <p class="text-faded">Established in 2011. From the start, Herbaria has specialized in the maintenance of landscapes. Years of having a passion for learning has resulted in cultivating horticultural best practices, while keeping efficiency and time management top of mind. Timing and intensity of pruning are important factors when gardening. Some plants will not flower well if pruned at the wrong time of year. Some can be pruned hard, while others ... not so much. Many prefer thinning cuts, while others prefer heading cuts. Get in touch to see what Herbaria can do for you.</p>
                
            </div>
        </div>
    </div>
</section>
