<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <h3>Summerland 250 404 3162</h3>
                <h3>Penticton 250 493 3362</h3>
                <h3>herbariagardenandlawnATgmailDOTcom</h3>
                <br>
                <p>The numbers above are landlines that forward to mobile. Texting will not work. Please call or email.
                You can also find the phone number by searching 'Herbaria' on <a href="https://infotel.ca/search/herbaria-garden-and-lawn/gardeners/penticton-south-okanagan-and-similkameen-areas/100155724-671.html">InfoTel</a> or <a href="https://www.yellowpages.ca/bus/British-Columbia/Penticton/Herbaria-Garden-Lawn/7924630.html?what=herbaria&where=Penticton+BC">Yellow Pages</a>.</p>
            </div>
        <!--
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
		-->
    </div>
</section>
