<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="h-illumination-100.png" alt="H Illumination" hspace="20" vspace="20">
            <h1>Herbaria Garden</h1>
            <h1>and Lawn</h1>
            <h2>Summerland 250 404 3162</h2>
            <h2>Penticton 250 493 3362</h2>
            <hr>
            <p style="color:black;">Quality landscape maintenance with over a decade of experience.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
