<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">eco</i>
                    <h3>Services available:</h3>
                    <p class="text-muted">Pruning, hedging, fertilizing, weeding, mulching and more.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Smooth sailing</h3>
                    <p class="text-muted">Whether for one-time or weekly/biweekly maintenance, the aim is to make things simple for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>In-house invoicing</h3>
                    <p class="text-muted">All invoicing is done at week's end and sent out via emial or Canada Post.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Love your garden</h3>
                    <p class="text-muted">You want your sanctuary to be well taken care of, and service that will treat it like it's their own.</p>
                </div>
            </div>
        </div>
    </div>
</section>
